# binarios, imágenes y objetos
*.bin
*.iso
*.elf
*.o

# Intermediarios
*.swp

# Ficheros de proyecto (por si acaso)
*.vscode
*.project
*.cproject
*.settings

# Manuales
Manuales

# repo
james-molloy-os
genesis
